{
  "class": "AS3",
  "action": "deploy",
  "persist": true,
  "declaration": {
  "class": "ADC",
    "schemaVersion": "3.21.0",
    "id": "testid",
    "label": "demo-label",
    "remark": "demo-remark",
    "{{ item.tenant }}": {
      "class": "Tenant",
"{{ item.vs_name }}": {
    "class": "Application",
    "template": "http",
    "serviceMain": {
        "class": "Service_HTTP",
        "virtualAddresses": [
            "{{ item.vip }}"
        ],
        "pool": "{{ item.pool_name }}"
    },
    "{{ item.custom_hlth }}": {
      "class": "Monitor",
      "monitorType": "http",
      "interval": 5,
      "timeout": 16,
      "send": "{{ item.hlth_get_str }}",
      "receive": "200"
    },
    "{{ item.pool_name }}": {
        "class": "Pool",
        "monitors": [
            {"use": "{{ item.custom_hlth }}"}
        ],
        "members": [
            {
                "servicePort": {{ item.svc_port }},
                "serverAddresses": [
                {% set comma = joiner(",") %}
                {% for mem in item.pool_members %}
                  {{comma()}} "{{ hostvars[mem]['ansible_host'] }}"
                {% endfor %}
                ]
            }
        ]
    }
   }
  }
 }
}
